/* CSS variables & base styling */
:root { 
  font-family: 'Courier Prime', monospace, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /*
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --primary-bg: #070609; /* Black */
  --secondary-bg: #19353E; /* Gunmetal */
  --text-primary: #E4F1F1; /* Azure Web */
  --accent: #2B8F82; /* Dark Cyan #2B8F82 */
  --highlight: #9C304D; /* Amaranth Purple */
  --button-bg: #508B82; /* Viridian */
  --button-text: #E4F1F1; /* Azure Web */
  --danger: #67222A; /* Wine */
  --secondary-accent: #65BBBE; /* Accent glow */
}

@font-face {
  font-family: 'Interstellar';
  src: url('/fonts/Linotype Didot Bold.otf') format('opentype');
}

a { /* Placeholder styles for links */
  font-weight: 500; /* Remove font-weight */
  color: var(--accent);
  text-decoration: inherit; /* Change to none */
}
a:hover {
  color: var(--highlight);
}

button { /* Placeholder styles for buttons */
  background-color: var(--button-bg);
  color: var(--button-text);
  border: none; 
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: var(--highlight);
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--primary-bg);
  color: var(--text-primary)
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Interstellar', sans-serif;
  color: var(--accent)
}

/*
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
*/

#root {
  width: 100%;
  min-height: 100vh;
}
