.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  /*
  background: linear-gradient(to bottom, #0a0a0a, #1a1a1a);
  color: white;
  */
  padding: 0 5%;
  position: relative
}

.hero-container {
  display: flex;
  max-width: 1200px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.hero-text {
  flex: 1;
  text-align: left;
}

.hero-text h1 {
  font-size: 4rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.hero-text p {
  font-size: 1.5rem;
  opacity: 0.8;
}

.hero-image {
  flex: 1;
  display: flex;
  justify-content: center;
}

.hero-image img {
  max-width: 70%; /* 70% of the container width */
  height: auto; /* Auto-scale height to keep proportions */
  max-height: 500px; /* Prevents it from getting too tall */
  object-fit: cover;
}

.scroll-indicator {
  position: absolute;
  left: 10.8%; /* Aligns with text */
  bottom: 6rem;
  font-size: 1rem;
  opacity: 0.8;
  animation: fadeInOut 2s infinite;
}

.scroll-indicator span {
  animation: fadeInOut 2s infinite ease-in-out;
}

@keyframes fadeInOut {
  0%, 100% { opacity: 0.3; }
  50% { opacity: 1; }
}